@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body {
  background-color: #282c34;
  min-height: 100vh;
  text-align: center;
  font-family: 'Lato', sans-serif;
}

.heading {
  color: #00e4ab;
  font-size: 36px;
}

.container {
  display: flex;
  margin: 0 20px;
}

.shoppies-title {
  color: #00e4ab;
}

.shoppies-app > .container {
  overflow-x: auto;
  flex-wrap: nowrap;
}

.shoppies-app > .nominated-movies-container {
  justify-content: center;
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffdd30;
  color: #000000;
  height: 100px;
  width: 300 px;
  font-size: 36px;
  margin: 0 200px;
  border-radius: 5px;
}