body {
  background-color: #282c34;
  min-height: 100vh;
  text-align: center;
}

.heading {
  color: #d6d0d0;
}

.container {
  display: flex;
}

.shoppies-app > .container {
  overflow-x: auto;
  flex-wrap: nowrap;
}