body {
  background-color: #282c34;
  min-height: 100vh;
  text-align: center;
}

.heading {
  color: #d6d0d0;
  font-size: 36px;
}

.container {
  display: flex;
}

.shoppies-app > .container {
  overflow-x: auto;
  flex-wrap: nowrap;
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rebeccapurple;
  color: #d6d0d0;
  height: 100px;
  width: 300 px;
  font-size: 36px;
}